{{#if dialog}}
  {{to-elsewhere named="dialog"
                 send=send}}
{{else}}
  {{#multiple-from-elsewhere name="dialog" tagName="" as |dialog|}}
    <div class="dialog-container {{props.class}}">
      {{#animated-if dialog use=fade duration=duration}}
        <div class="dialog-background" onclick={{action dialog.dismiss}}></div>
      {{/animated-if}}
      {{#animated-value dialog group=dialog.group use=show duration=duration as |props|}}
        {{#if props.dialog}}
          <div class={{props.className}}>
            {{component props.dialog dismiss=props.dismiss}}
            {{key-down 'esc' props.dismiss}}
          </div>
        {{/if}}
      {{/animated-value}}
    </div>
  {{/multiple-from-elsewhere}}
  {{#each open.dialogs as |dialog|}}
    {{dialog-box dialog.Dialog ondismiss=dialog.reject group=dialog.group}}
  {{/each}}
{{/if}}