<select id="{{inputId}}" value="{{selected.id}}" name="{{name}}" disabled={{disabled}} onchange={{action selectIndex}}>
  {{#each arrangedOptions as |option|}}
    <option value="{{option.id}}" selected={{if (equals option.id selected.id) true}}>{{yield option.value}}</option>
  {{/each}}
</select>