{{#animated-container}}
  {{#form-for this.model onsubmit=(action 'submit') as |f|}}
    {{#animated-if this.isCreating use=fade duration=200}}
      {{f.text this.field hasLabel=false autofocus=true type=type placeholder=placeholder}}
    {{/animated-if}}

    {{#if isCreating}}
      {{#f.submit class='icon'}}
        {{yield to='inverse'}}
      {{/f.submit}}
    {{else}}
      <button type='submit' onclick={{action 'create'}}>
        {{yield}}
      </button>
    {{/if}}
  {{/form-for}}
{{/animated-container}}
