{{#animated-container}}
  {{#form-for model onsubmit=(action 'submit') as |f|}}
    {{#animated-if isCreating use=fade duration=200}}
      {{f.text field label=false autofocus=true type=type value=displayValue onchange=(action (mut displayValue)) autofocus=true placeholder=placeholder}}
    {{/animated-if}}

    {{#if isCreating}}
      {{#f.submit class='icon'}}
        {{yield to='inverse'}}
      {{/f.submit}}
    {{else}}
      <button type='submit' onclick={{action 'create'}}>
        {{yield}}
      </button>
    {{/if}}
  {{/form-for}}
{{/animated-container}}
