<header>
  Countries
</header>
<div class='body'>
  {{search-field query=search onquery=(action (mut query))}}
  {{#sortable-list name='countries' rows=countries onsort=(action (mut sort)) sort=sort as |l|}}
    {{#l.item 'name' as |item|}}
      {{item.name}}
    {{else}}
      Country
    {{/l.item}}
    {{#l.item 'code' as |item|}}
      {{item.alpha2Code}}
    {{else}}
      Code
    {{/l.item}}
    {{#l.item 'capital' as |item|}}
      {{item.capital}}
    {{else}}
      Capital
    {{/l.item}}
  {{/sortable-list}}
</div>
<footer>
  <button type='reset' onclick={{action dismiss}}>Close</button>
</footer>