{{#if buttons.length}}
  <nav class='row'>
    {{#each buttons as |button|}}
      {{#if (equals button.type 'a')}}
        {{#text-editor/markup-button for=button.type hint='isLink' title=button.label id=inputId editor=this onclick=(action 'openForm' (component 'text-editor/link-form' active=(get editor.activeMarkupTagNames 'isLink') onsubmit=(action 'addLink')))}}
          {{icon button.icon}}
        {{else}}
          {{icon 'unlink'}}
        {{/text-editor/markup-button~}}
      {{else if (equals button.type 'text-size')}}
        {{~#tool-tip for=(concat elementId '-text-size')~}}
          {{t 'textEditor.textSize'}}
        {{~/tool-tip~}}
        {{#select-field inputId=(concat elementId "-text-size") value=textSize options=textSizes onchange=(action 'setTextSize') as |option|}}
          {{t (concat 'textEditor.' option.name)}}
        {{/select-field}}
      {{else if (equals button.type 'embed')}}
        {{~#tool-tip for=(concat elementId '-embed')~}}
          {{t (concat 'textEditor.' button.type)}}
        {{~/tool-tip~}}
        <button type='button' id="{{elementId}}-embed" onclick={{action 'embed' editor.editor for button}}>
          {{icon 'add' class='add'}}
        </button>
      {{else}}
        {{#text-editor/markup-button for=button.type title=button.label id=inputId editor=this onclick=(action 'toggleMarkup')}}
          {{icon button.icon}}
        {{/text-editor/markup-button~}}
      {{/if}}
    {{/each}}
  </nav>
{{/if}}
{{#liquid-if form class='editor-form'}}
  {{component form.component}}
{{/liquid-if}}
<div class="mobiledoc-editor__editor-wrapper">
  <div class="mobiledoc-editor__editor"></div>
</div>

{{#each componentCards as |card|}}
  {{#ember-wormhole to=card.destinationElementId}}
    {{component (concat 'text-editor/cards/' card.cardName)
      editor=editor
      postModel=card.postModel
      cardName=card.cardName
      payload=card.payload
      env=card.env
      options=card.options
      editCard=(action card.env.edit)
      saveCard=(action card.env.save)
      cancelCard=(action card.env.cancel)
      removeCard=(action card.env.remove)}}
  {{/ember-wormhole}}
{{/each}}
