{{#if item~}}
  <span class="{{dasherize sortAsc}}">{{yield item}}</span>
{{~else if sortable~}}
  {{#if (media '(max-width: 500px)')~}}
    {{#link-to (query-params sort=(dasherize sortDesc))}}
      {{yield to='inverse'}}
    {{/link-to~}}
  {{~else~}}
    {{#link-to (query-params sort=(if (equals (dasherize sort) (dasherize sortAsc)) (dasherize sortDesc) (dasherize sortAsc)))
          class=(concat (dasherize sortAsc) ' ' (if (equals (dasherize sort) (dasherize sortAsc)) 'asc active') " " (if (equals (dasherize sort) (dasherize sortDesc)) 'desc active'))}}
      <span>{{yield to='inverse'}}</span>
      <span class='sort'>{{icon 'chevron'}}</span>
    {{/link-to}}
  {{/if}}
{{~else~}}
  {{yield to='inverse'}}
{{~/if}}
