{{#if (media '(max-width: 500px)')}}
  <header class="mobile">
    <div class='buttons'>
      <button type='submit' onclick={{action (mut isShowingSorting) (not isShowingSorting)}}>
        {{this.currentSort.html}}
      </button>
      {{#if onsort}}
        <a href='#' tabindex=-1 onclick={{action 'sort' this.currentSort.reverse}}
           class="{{this.currentSort.direction}} active submit-button icon">
          <span class='sort'>{{icon 'chevron'}}</span>
        </a>
      {{else}}
        {{~#link-to (query-params sort=this.currentSort.reverse)
          class=(concat this.currentSort.direction ' active submit-button icon')}}
          <span class='sort'>{{icon 'chevron'}}</span>
        {{~/link-to~}}
      {{/if}}
    </div>
    <div class="sortings {{if isShowingSorting "visible" "hidden"}}">
      {{yield (hash item=(component 'sortable-list/list-item' sort=sort onsort=(if onsort (action 'sort')) list=this))}}
    </div>
  </header>
{{else}}
  <header>
    <div class='item'>
      {{yield (hash item=(component 'sortable-list/list-item' sort=sort onsort=(if onsort (action 'sort')) list=this tagName=''))}}
    </div>
  </header>
{{/if}}
{{#animated-container}}
  {{#animated-if rows.length use=fade duration=duration}}
    {{#animated-container tagName='ol'}}
      {{#animated-each rows use=shuffle duration=duration as |row|}}
        <li>
          <div class='item {{if (media '(max-width: 500px)') 'mobile'}}'>
            {{~yield (hash item=(component 'sortable-list/list-item' item=row list=this tagName='')) row~}}
          </div>
        </li>
      {{/animated-each}}
    {{/animated-container}}
  {{else}}
    {{yield to='inverse'}}
  {{/animated-if}}
{{/animated-container}}
{{#if hasMore}}
  <div>
    {{#submit-button onsubmit=(action 'loadMore' rows.length)}}
      Load More Results
    {{/submit-button}}
  </div>
{{/if}}
