{{#animated-if isProcessing use=fade duration=duration}}
  {{icon 'spinner' class='spinner'}}
{{else}}
  {{#animated-if isConfirming use=fade duration=duration}}
    <span>{{yield to='inverse'}}</span>
  {{else}}
    <span>{{yield}}</span>
  {{/animated-if}}
{{/animated-if}}
