<label for='text-field'>Text Field</label>
{{text-field inputId='text-field' value=text onchange=(action (mut text))}}
{{text}}

<label for='text-area'>Text Area</label>
{{text-area inputId='text-area' value=multiline onchange=(action (mut multiline)) rows=3}}
{{multiline}}

<label for='number-field'>Number Field</label>
{{number-field inputId='number-field' value=number onchange=(action (mut number))}}
{{number}}

<label for='percent-field'>Percent Field</label>
{{percent-field inputId='percent-field' value=percent onchange=(action (mut percent))}}
{{percent}}

<label for='currency-field'>Currency Field</label>
{{currency-field inputId='currency-field' value=currency onchange=(action (mut currency))}}
{{currency}}

<label for='password-field'>Password</label>
{{password-field inputId='password-field' value=password onchange=(action (mut password))}}
{{password}}

<label for='search-field'>Search</label>
{{search-field inputId='search-field' query=query onquery=(action (mut query))}}
{{query}}

<label for='auto-complete'>Autocomplete</label>
{{auto-complete inputId='auto-complete' value=autocomplete onchange=(action (mut autocomplete)) onquery=(action 'query') key='name'}}
{{autocomplete.alpha2Code}} / {{autocomplete.name}}

<label for='date-field'>Date Field</label>
{{date-field inputId='date-field' value=date onchange=(action (mut date))}}
{{date}}

<label for='datetime-field'>Datetime Field</label>
{{datetime-field inputId='datetime-field' value=datetime onchange=(action (mut datetime))}}
{{datetime}}

<label for='check-box'>Checkbox</label>
{{check-box value=checked onchange=(action (mut checked))}}
{{checked}}

<label for='upload-field'>Upload field</label>
{{#upload-field name='photo' value=upload onchange=(action (mut upload)) as |photo|}}
  <img src={{photo.url}} alt={{photo.name}} />
{{else}}
  Add File
{{/upload-field}}

<label for='upload-list'>Upload list</label>
{{#upload-list name='gallery' value=uploads onchange=(action (mut uploads)) as |photo|}}
  <img src={{photo.url}} alt={{photo.name}} />
{{else}}
  Add Files
{{/upload-list}}


<button onclick={{action 'flash' 'Hi'}}>Show snackbar</button>
<button onclick={{action (mut dialog) true}}>Show dialog</button>
{{#if dialog}}
  {{dialog-box (component 'hello-dialog')
    ondismiss=(action (mut dialog) false)}}
{{/if}}

{{snack-bar}}
{{dialog-box}}
{{outlet}}
