<label for='text-field'>Text Field</label>
{{text-field inputId='text-field' value=text onchange=(action (mut text))}}
{{text}}

<label for='number-field'>Number Field</label>
{{number-field inputId='number-field' value=number onchange=(action (mut number))}}
{{number}}

<label for='password-field'>Password</label>
{{password-field inputId='password-field' value=password onchange=(action (mut password))}}
{{password}}

{{outlet}}