<label for='upload-field'>Upload field</label>

{{check-box value=multiple onchange=(action (mut multiple))}}
{{#upload-field name='photo' multiple=multiple value=upload accept='image/*' onchange=(action 'upload' 'upload') as |photo remove|}}
  <img src={{photo.url}} alt={{photo.name}} />
  <button type='reset' onclick={{remove}}>{{icon 'trash'}}</button>
{{else}}
  Add File
{{/upload-field}}

{{#sortable-list id='countries' rows=model sort=sort as |l|}}
  {{#l.item 'name' as |item|}}
    {{item.name}}
  {{else}}
    Country
  {{/l.item}}
  {{#l.item 'code' as |item|}}
    {{item.alpha2Code}}
  {{else}}
    Code
  {{/l.item}}
  {{#l.item 'capital' as |item|}}
    {{item.capital}}
  {{else}}
    Capital
  {{/l.item}}
{{/sortable-list}}

{{#form-for class='grid-column' as |f|}}
  {{f.text 'text' label='{{text-field}}'}}
  {{f.editor 'editor' label='{{text-editor}}'}}
  {{#f.select 'select' label='{{single-select}}' options=(list 'Apple' 'Banana' 'Yuzu') gravity='s' as |item|}}
    {{icon 'check'}} {{item}}
  {{/f.select}}
  {{f.textarea 'multiline' label='{{text-area}}' rows=3}}
  {{f.number 'number' label='{{number-field}}'}}
  {{f.percent 'percent' label='{{percent-field}}'}}
  {{f.currency 'currency' label='{{currency-field}}'}}
  {{#f.password 'password' label='{{password-field}}'}}
    Reveal Password
  {{else}}
    Hide Password
  {{/f.password}}
{{/form-for}}

<label>
  {{check-box value=hasIcon onchange=(action (mut hasIcon))}}
  Has search icon
</label>

<label for='search-field'>Search</label>
{{search-field hasIcon=hasIcon inputId='search-field' query=query onquery=(action (mut query))}}
{{query}}

<label for='auto-complete'>Autocomplete</label>
{{auto-complete inputId='auto-complete' value=autocomplete onchange=(action (mut autocomplete)) onquery=(action 'query') key='name'}}
{{autocomplete.alpha2Code}} / {{autocomplete.name}}

<label for='date-field'>Date Field</label>
{{date-field inputId='date-field' value=date onchange=(action (mut date))}}
{{date}}

<label for='datetime-field'>Datetime Field</label>
{{datetime-field inputId='datetime-field' value=datetime onchange=(action (mut datetime))}}
{{datetime}}

{{#copy-field value='Hello'}}
  Copy
{{else}}
  Copied
{{/copy-field}}

<label for='check-box'>Checkbox</label>
{{check-box value=checked onchange=(action (mut checked))}}
{{checked}}



<div class='row'>
  {{#submit-button onsubmit=(action 'flash' 'Submitted!')}}
    Show snackbar
  {{/submit-button}}

  {{#confirm-button onsubmit=(action 'flash' 'Submitted with confirmation')}}
    {{icon 'eye'}} Show snackbar
  {{else}}
    Are you sure?
  {{/confirm-button}}

  <button type='submit' onclick={{action (mut dialog) true}}>Show dialog</button>
  <button type='reset'>Cancel</button>
  {{#if dialog}}
    {{dialog-box (component 'hello-dialog')
      ondismiss=(action (mut dialog) false)}}
  {{/if}}
</div>

{{snack-bar}}
{{dialog-box}}
{{outlet}}
