<section>
  {{search-field inputId='search-field' query=query onquery=(action (mut query))}}
</section>

{{#sortable-list class='countries' rows=countries sort=sort as |l|}}
  {{#l.item 'name' as |item|}}
    {{item.name}}
  {{else}}
    Country
  {{/l.item}}
  {{#l.item 'code' as |item|}}
    {{item.alpha2Code}}
  {{else}}
    Code
  {{/l.item}}
  {{#l.item 'capital' as |item|}}
    {{item.capital}}
  {{else}}
    Capital
  {{/l.item}}
{{/sortable-list}}

<section>
{{#form-for this name='test' class='grid-column' as |f|}}
  {{#f.nav ondelete=(action 'query')}}
    <button type='submit'>{{icon 'emoji'}} Hi There</button>
  {{/f.nav}}
  {{f.text 'text' label='{{text-field}}'}}
  {{f.editor 'editor' label='{{text-editor}}'}}
  {{#f.select 'select' label='{{select-field}}' options=(list 'Apple' 'Banana' 'Yuzu') as |item|}}
    {{item}}
  {{/f.select}}
  {{f.textarea 'multiline' label='{{text-area}}' rows=3}}
  {{#select-field options=locales value=locale onchange=(action 'setLocale') as |option|}}{{option.name}}{{/select-field}}
  {{f.number 'number' label='{{number-field}}' locale=locale.code precision=2}}
  {{f.percent 'percent' label='{{percent-field}}' min=0 max=1 locale=locale.code}}
  {{f.currency 'amount' 'currency' label='{{currency-field}}' currencies=currencies locale=locale.code}}
  {{f.autocomplete 'autocomplete' key='name' onquery=(action 'query') label='{{auto-complete}}'}}
  {{#f.password 'password' label='{{password-field}}'}}
    Reveal Password
  {{else}}
    Hide Password
  {{/f.password}}
  {{f.url 'url' label='{{url-field}}'}}
  {{f.date 'date' label='{{date-field}}'}}
  {{f.datetime 'datetime' label='{{datetime-field}}'}}
  {{f.checkbox 'checked' label='Multiple photo upload'}}
  {{#f.upload 'images' name='photo' multiple=f.changeset.checked accept='image/*' as |photo remove|}}
    {{file-preview file=photo}}
    <button type='reset' onclick={{remove}} class='icon'>{{icon 'trash'}}</button>
  {{else}}
    Add File
  {{/f.upload}}

  {{#f.form-for 'newCountries' as |g|}}
    {{g.text 'name'}}
    {{g.text 'code'}}
  {{else}}
    <button type='submit' onclick={{action 'addCountry'}}>{{icon 'add'}} Add Country</button>
  {{/f.form-for}}
{{/form-for}}

{{#create-button 'email' type='email' placeholder='Enter email'}}
  {{icon "add"}} Add Login
{{else}}
  {{icon "add"}}
{{/create-button}}

{{#copy-field value='Hello'}}
  Copy
{{else}}
  Copied
{{/copy-field}}

<div class='row'>
  {{#submit-button onsubmit=(action 'flash' 'Submitted!')}}
    Show snackbar
  {{/submit-button}}

  {{#submit-button onsubmit=(action 'open' (component 'hello-dialog' thing=(action 'open')))}}
    Show dialog
  {{/submit-button}}

  {{#confirm-button onsubmit=(action 'flash' 'Submitted with confirmation')}}
    {{icon 'eye'}} Show snackbar
  {{else}}
    Are you sure?
  {{/confirm-button}}

  {{#dialog-button (component 'workflow-dialog' model=model) group='workflow'}}
    Show Dialog
  {{/dialog-button}}
  <button type='reset'>Cancel</button>
</div>
</section>

{{snack-bar}}
{{dialog-box}}
{{outlet}}
