{{#navigation-bar routes='home apple banana coconut durian elderberry fig grape honeydew' onlogout=(action 'logout')}}
  {{from-elsewhere name='navigation'}}
{{/navigation-bar}}

{{to-elsewhere named='navigation' send=(component 'search-field' inputId='search-field' query=query onquery=(action (mut query)))}}

{{#sortable-list name='countries' rows=countries sort=sort icon='location' query=query as |l|}}
  {{#l.item 'name' as |item|}}
    {{item.name}}
  {{/l.item}}
  {{#l.item 'code' as |item|}}
    {{item.alpha2Code}}
  {{/l.item}}
  {{#l.item 'capital' as |item|}}
    {{item.capital}}
  {{/l.item}}
{{/sortable-list}}

<section>
{{#form-for this name='test' onsubmit=(action 'save') autosave=true class='grid-column' as |f|}}
  {{f.save-status}}
  {{f.text 'text'}}
  {{f.editor 'editor'}}
  {{#f.select 'select' options=(list 'Apple' 'Banana' 'Yuzu') as |item|}}
    {{item}}
  {{/f.select}}
  {{f.textarea 'multiline' rows=3}}
  {{#select-field options=locales value=locale onchange=(action 'setLocale') as |option|}}{{option.name}}{{/select-field}}
  {{f.number 'number' locale=locale.code precision=2}}
  {{f.percent 'percent' min=0 max=1 locale=locale.code}}
  {{f.currency 'amount' 'currency' currencies=currencies locale=locale.code}}
  {{f.autocomplete 'autocomplete' key='name' onquery=(action 'query') }}
  {{#f.password 'password' }}
    Reveal Password
  {{else}}
    Hide Password
  {{/f.password}}
  {{f.url 'url'}}
  {{f.date 'date'}}
  {{f.datetime 'datetime'}}
  {{f.checkbox 'checked'}}
  {{#f.upload 'images' name='photo' multiple=f.changeset.checked accept='image/*' as |photo remove|}}
    {{file-preview file=photo}}
    <button type='reset' onclick={{remove}} class='icon'>{{icon 'trash'}}</button>
  {{else}}
    Add File
  {{/f.upload}}

  {{#f.form-for 'newCountries' as |g|}}
    {{g.text 'name'}}
    {{g.text 'code'}}
  {{else}}
    <button type='submit' onclick={{action 'addCountry'}}>{{icon 'add'}} Add Country</button>
  {{/f.form-for}}
{{/form-for}}

{{#create-button 'email' type='email' placeholder='Enter email'}}
  {{icon "add"}} Add Login
{{else}}
  {{icon "add"}}
{{/create-button}}

{{#copy-field value='Hello'}}
  Copy
{{else}}
  Copied
{{/copy-field}}
</section>

{{action-bar 'snackbar' 'showDialog' 'delete' 'workflow'
  for='test'
  snackbar=(action 'flash' 'Submitted!')
  showDialog=(action 'open' (component 'hello-dialog' thing=(action 'open')))
  delete=(action 'flash' 'Submitted with confirmation')
  workflow=(component 'workflow-dialog' model=model)
}}
<div class='container'>
  <div class='row'>
    <button type='reset'>Cancel</button>
  </div>
</div>
{{snack-bar}}
{{dialog-box}}
{{outlet}}
