<figure onclick={{action editCard}}>
  <img src="{{payload.url}}" alt="{{payload.title}}" class="size-{{payload.size}}"/>
  {{#unless (equals payload.inset 'none')}}
    <button disabled=true class='icon' type='submit' id="inset-{{elementId}}">
      {{icon (concat 'inset-' payload.inset)}}
    </button>
  {{/unless}}
</figure>
<figcaption>
  {{payload.caption}}
</figcaption>
